
      body{
          font-family: arial;
          background-color: #32174D;
      }
        
/*Left-column contains logo and navigation bar*/

      .left-column {
          float: left;
          width: 20%;
          height: auto;
          background-color: #32174D;
          margin-bottom:10%;
      }

/*right-column contains home page gallery, about box, and anything below it*/
      .right-column {
          float: left;
          width: 77%;
          height: auto;
          background-color: #32174D;
          margin-bottom:10%;
      }

/*The following containers all go in the left-column. Non-index pages only*/
      .logocontainer {
          width:100%;
          /*height:250px;*/
          height:25%;
          background-color: #32174D;
          margin-bottom: 40px;
      }


      .navcontainer {
          width:100%;
          height:600px;
          text-align: center;
          vertical-align: middle;  
      } 
        

/*Women and Men divs. and scrolling gallery appear on home page only*/
     /* .women {
          width:47.5%;
          height:550px;
          background-color: #9f0e97;
          float:left;
      }

      .men {
          width:47.5%;
          height:550px;
          background-color: #9f0e97;
          float:right;
          margin-right:2.5%;
      }

      .depttitle {
          line-height: 60px;
          text-align: center;
          font-size: 20pt;
          color:#ffffff;
          padding-top: 10px;
      }
*/

/*Gallery divs have been removed for non-index pages*/
      /*.gallery{
          width:100%;
          height:260px;
          *margin-bottom: 2.5%;
          
      }

        .background {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color:#86608E;
                    opacity: .5;
      }
      */



/*Styling for elements of navigation bar*/

      .left-column a.nav-link:hover{
            background-color:#86608E;
            opacity: .5;
      }

      .left-column a {  
            display:block;
            width:100%;
            text-decoration: none;
            background-color: #32174D;
            color:#ffffff;
            font-family: arial;
            font-size: 12pt;
            padding-top: 20px;
            padding-bottom: 20px;
      }
      
     
      .left-column li {
            padding-top: 60px;
            padding-bottom: 60px;
            text-align: center;
            color:#ffffff;
            width:100%;
      }      
 

/* This is the lavender about box at top of page on right*/
      .aboutTop {
          width:95%;
          /*height:200px;*/
          background-color:#86608E;
          margin-left: 2.5%;
          margin-top: 1.5%;
          float:left;
          padding:2%;
          font-size:20px;
          line-height:30px;
          text-align:left;
          color:white;
         
     }

/*Styling for divs that go across bottom of page.*/
      .about{             
            width:100%;
            height:100px;         
            clear:both;
            background-color:#86608E;
            opacity: .5;          
      }


 /*   p {*/
      .backgroundlower ul {      
            text-align: center;
            color:#ffffff;
            padding-top: 35px;
            font-size: 10pt;
            opacity:1;
      }
      
      .backgroundlower li {
            padding-top:0;
            padding-bottom:0;
      }


/*on about page only: the two divs below divide the about box into two columns of text*/
      .address, .hours {
          display:inline-block;
          float:left;
          width:45%;
          padding:2%;      
      }

      .address p {
        margin:2% 3%;
      }

    /*The hours div contains an unordered list with the days of the week and store hours*/
      .hours li {
          list-style:none;
      }

    /*This is a container for the image of the map on about page only*/
      .location { 
          display: inline-block;
          margin-top:3%;
          margin-left:5%;
      }

/*Page layout for individual womens and mens shoes pages.*/

      .floatingshoes {
            width:77%;
            margin:auto;

      }

      .thumbnail {
        float:left;
        width: 240px;
        margin: 1.5%;
        cursor: pointer;
      }

/*Div for enlarged image upon clicking*/
      .lightbox {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .lightbox img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -300px;
        margin-left: -300px;
      }

      .lightbox a {
        position: absolute;
        top: 200px;
        right: 40px;
        font-family:arial;
        font-size: 30px;
        text-decoration: none;
        color: white;
        cursor: pointer;
      }
    
  